body{
background:rgb(243, 243, 243)  !important;
font-family: 'Times New Roman', Times, serif, sans-serif;
font-size: 24px;
}
table{
    font-size:48px;
        border: dotted 1px black;
    border-collapse: collapse;
background :rgba(255, 255, 255, 0.993)
}
td{

text-align : center; 
    border: solid 1px black;
    border-collapse: collapse;
}

#sosa {
    background-color: aquamarine;
}
h1{
    text-align : center; 
}
table{
    text-align : center;
}
.fortnite{
    background:rgb(0, 0, 0)  !important;
    color:aliceblue  !important;
}

